.header {
    background-color: rgb(255, 255, 255);

}

.meu-titulo {
    font-style: italic;
    color: red;
    font-size: 40px;
}

.divzinho {
    background-color: tomato;
    height: 500px;
    
 display: flex;

 justify-content: center;
    column-count: 3;
    column-gap: 500px;
    
    
   
}

.DivSegunda {

height: 100px;
width: 300px;
border: 1px solid black;
display: flex;
align-items: center;
justify-content: center;



}