.header {
    background-color: rgb(255, 255, 255);

}

.meu-titulo {
    font-style: italic;
    color: red;
    font-size: 40px;
}

.divzinho {
    background-color: tomato;
    height: 400px;
    display: grid;
    align-content: space-between;
   
}

.DivSegunda {
background-color: yellowgreen;
height: 100px;
width: 100px;
}