.header {
    background-color: white;
    
}

.meu-titulo {
    font-style: italic;
    color: red;
    font-size: 40px;
}

.primeiro-paragrafo {
    font-size: 30px;
    color: blue;
}

.ultimo-paragrafo {
    font-size: 25px;
    color: rgb(2, 187, 2);
}